# NOTE: Requires **VS2019 16.3** or later

# Copy of Rules for OneView
# Description: Code analysis rules for OneView.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.CA1008.severity = warning

dotnet_diagnostic.CA1013.severity = warning

dotnet_diagnostic.CA1303.severity = warning

dotnet_diagnostic.CA1308.severity = warning

dotnet_diagnostic.CA1806.severity = warning

dotnet_diagnostic.CA1816.severity =silent

dotnet_diagnostic.CA1819.severity = warning

dotnet_diagnostic.CA1820.severity = warning

dotnet_diagnostic.CA1903.severity = warning

dotnet_diagnostic.CA2004.severity = warning

dotnet_diagnostic.CA2006.severity = warning

dotnet_diagnostic.CA2102.severity = warning

dotnet_diagnostic.CA2104.severity = warning

dotnet_diagnostic.CA2105.severity = warning

dotnet_diagnostic.CA2106.severity = warning

dotnet_diagnostic.CA2115.severity = warning

dotnet_diagnostic.CA2119.severity = warning

dotnet_diagnostic.CA2120.severity = warning

dotnet_diagnostic.CA2121.severity = warning

dotnet_diagnostic.CA2130.severity = warning

dotnet_diagnostic.CA2205.severity = warning

dotnet_diagnostic.CA2215.severity = warning

dotnet_diagnostic.CA2221.severity = warning

dotnet_diagnostic.CA2222.severity = warning

dotnet_diagnostic.CA2223.severity = warning

dotnet_diagnostic.CA2224.severity = warning

dotnet_diagnostic.CA2226.severity = warning

dotnet_diagnostic.CA2227.severity =silent

dotnet_diagnostic.CA2231.severity = warning

dotnet_diagnostic.CA2239.severity = warning

dotnet_diagnostic.CS0067.severity = none

dotnet_diagnostic.CS1591.severity = none

dotnet_diagnostic.SA0001.severity = none

dotnet_diagnostic.SA1101.severity = none

dotnet_diagnostic.SA1108.severity = none

dotnet_diagnostic.SA1124.severity = none

dotnet_diagnostic.SA1135.severity = none

dotnet_diagnostic.SA1200.severity = none

dotnet_diagnostic.SA1201.severity = none

dotnet_diagnostic.SA1202.severity = none

dotnet_diagnostic.SA1204.severity = none

dotnet_diagnostic.SA1309.severity = none

dotnet_diagnostic.SA1310.severity = none

dotnet_diagnostic.SA1311.severity = none

dotnet_diagnostic.SA1401.severity = none

dotnet_diagnostic.SA1405.severity = none

dotnet_diagnostic.SA1406.severity = none

dotnet_diagnostic.SA1407.severity = none

dotnet_diagnostic.SA1408.severity = none

dotnet_diagnostic.SA1600.severity = none

dotnet_diagnostic.SA1601.severity = none

dotnet_diagnostic.SA1602.severity = none

dotnet_diagnostic.SA1623.severity = none

dotnet_diagnostic.SA1652.severity = none

dotnet_diagnostic.SX1309.severity = error
indent_style=space
dotnet_diagnostic.CA2254.severity=silent

[*.cs]
dotnet_diagnostic.SA1009.severity=silent
csharp_style_var_elsewhere=false:warning
csharp_style_var_for_built_in_types=true:warning
csharp_style_var_when_type_is_apparent=true:warning
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_indent_labels = one_less_than_current
csharp_style_expression_bodied_local_functions = false:silent
[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf
